$responsive-menu-wide: 80rem;
$responsive-menu-medium: 62rem;
$responsive-menu-short: 800px;

$responsive-app-left-sidebars: 800px;
$responsive-app-right-sidebars: 62rem;
$responsive-app-right-sidebars-tiny: 30rem;
$responsive-app: 37.4rem;

$responsive-effects: 50rem;
$responsive-effects-hide: 38rem;
