/**
 * Colors
 */
 $color-green: #32c24d;
 $color-green-light: #9FD468;
 $color-blue: #5CA3FD;
 $color-red: #F35517;
 $color-orange: #ffc222;
 $color-yellow: #fce372;
 $color-grey: #d8d8d8;
 $color-grey-light: #e8e8e8;
 $left-sidebar-color: #363250;

 $color-font-light: #999;
 $color-font: #666;
 $color-font-dark: #4a4a4a;
 $color-font-darkblue: rgba(180, 213, 255, 0.5);

 /**
  * Menu
  */
 $menu-height: 56px;

 /**
  * Sidebars
  */
 $left-sidebar-width: 224px;
 $right-sidebar-width: 376px;
 $collection-height: 152px;

 $icon-workspace-recolor-title: 1150px;

 $similar-icons-width: 96px;
 $collection-list-width: $similar-icons-width;
 $collection-toolbar-height: 3rem;
