@import 'old_variables.scss';

$accordion-padding: 30px;

$effect-menu-width: 180px;
$effect-options-width: 224px;
$effects-width: 404px;
$effects-spacer: 20px;

$icon-workspace-medium-width: 1000px;
$icon-workspace-effect-titles: 1150px;
$icon-workspace-recolor-title: 1150px;
